*{
  padding: 0;
  margin: 0;
}

header{
  width: 90%;
  height: 10em;
  margin: 1em auto;
  border: 1px solid black;
  text-align: center;
}

.containerBox{
  margin: 1em auto;
  border: 1px solid black;
  width: 20em;
}

.containerButton{
  margin: 1em auto;
  border: 1px solid black;
  width: 40%;
  display: flex;
  justify-content: center;
}

.generateTextArea{
  width: 90%;
  height: 10em;
  margin: 1em auto;
  display: block;
}